io-repl:not(:defined) {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

io-repl::part(button) {
  background-color: var(--color-text);
  color: var(--color-background);
  border-radius: 2px;
  font-size: var(--font-size-small);
  font-family: var(--font-family-monospace);
  font-weight: normal;
}

io-repl::part(input) {
  background-color: var(--color-code-background);
  color: var(--color-code-text);
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-small);
  border-color: var(--color-border);
  border-radius: 2px;

  &:disabled {
    color: var(--color-background);
    -webkit-text-fill-color: var(--color-background);
    opacity: 1;
  }
}

io-repl::part(output) {
  color: var(--color-text);
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-small);
}
